.container {
    padding: 20px;
}

.balance {
    padding-bottom: 20px;
}

.formgroup {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 5px 15px;
    border-radius: 20px;
    margin-top: 20px;
}

.transfertoken {
    display: flex;
}

.tokenfieldset {
    flex: 1;
    border: 0;
}
.submittokenbutton {
    margin-bottom: 10px;
    margin-left: 10px;
}