.header {
    margin: 0;
    padding: 0 50px ;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
}

.button {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: #000000DE;
    font-size: 14px;
    margin: auto 0;
    padding: 20px 20px;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.705);
    border-radius: 50px;
    border-style: solid;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: inherit;
}

